@font-face {
 font-family: "HeyAugust";
 src: url("HeyAugust.ttf");
}

body{
    font-family: monospace;
    background: url("img/Fond1.jpg")no-repeat;
    background-size: 100%;
}

.galerie_image
	{
  display: inline-block;
  margin-left: 9%;
  margin-top: 5%;

	}

.img{
  height: 150%;
  width: 80%;
}

#logo{
  margin:20px auto;
  text-align:center;
  }

#text{
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
}

h1{
  color : white;
  font-family:"HeyAugust";
  font-size: 40px;
}
